body {
	margin:0;
	padding:0;
	background-color:#fff;
	font-size:12px;
}

#logo { padding:10px 20px 0px; }

#menu {
	background-image: url("../images/menu-bg.png");
    background-repeat: repeat-x;
    height: 34px;
    padding-left:20px;
    position:relative;
}

#nav li { list-style-type: none; }

#user { right: 20px; top: 10px; }

#content { padding:20px 30px; }

#ui-datepicker-div { font-size: 12px; }

#sf_admin_container label {
    width: 10em;
}